@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.patterns{
    background-image: url("../public/pattern.svg")
}

.hero{
    background-image: url("../public/hero.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 70%;
}